* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: grey;
}

header>a {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    background-color: #194013;
}

.nav-1 {
    display: flex;
    padding: 20px;
    list-style-type: none;
    justify-content: flex-end;
    background-color:#1a4314;
}

.nav-1 li {
    padding: 20px 10px;
}

.nav-1 li:hover {
    background-color: #2C5E1A;
}

.nav-1 li>a:hover{
    color: greenyellow;
}

.nav-1 li>a {
    color: #1e7e1c;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-size: 19px;
}

.content-block {
    display: flex;
}

.content-block main {
    width: 70%;
}

.content-block aside{
    width: 30%;
}

.aside {
    background-color: #173a12;
}

.list-aside a{
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    color: #1e7e1c;
}

.list-aside a:hover{
    color:#2C5E1A ;
}

.list-aside li{
    margin: 10px 0;
}

.list-aside{
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-top: 10px;
}

main{
    background-color: rgb(155, 155, 155);
}

article>h1 {
    margin-left: 18px;
    margin-right: 10px;
    margin-top: 14px;
    font-family: 'Antic Slab';
    border-bottom: 1px solid rgb(69, 69, 69);
}

article p {
    font-family: 'Ubuntu Mono';
    margin: 20px;
}

.creator-div {
    display: flex;
}

.creator-div figure {
    margin: 10px;
}

article figcaption{
    font-family: 'Roboto Condensed';
}

.tools-div {
    display: flex;
    justify-content:space-around ;
    margin: 30px 10px;
}

.enchants .enchant-books{
    display: flex;
    justify-content: flex-end;
    margin-left:40px;
    background-color: #2C5E1A;
}

.aside img{
    margin: 18px 15px;
}

footer {
    margin: 20px 0;
    background-color: rgb(155, 155, 155);
}

footer>p {
    padding-top: 10px;
    padding-left: 10px;
}

footer p{
    padding-bottom: 10px;
    padding-left: 10px;
}

.banners {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

footer a{
    color:rgb(52, 86, 18);
    text-decoration: none;

}
